@model             ProductModel

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Product Form</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item"><a asp-controller="Product" asp-action="ProductList">Product</a></li>
                <li class="breadcrumb-item active">Product Form</li>
            </ol>
        </nav>
    </div>

    <section class="section">
        <div class="card">
            <div class="card-body">

                <form asp-action="ProductSave" method="post" class="row g-3">
                    <input asp-for="ProductID" hidden />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="col-md-6">
                        <label asp-for="ProductName" class="form-label">Product Name</label>
                        <input asp-for="ProductName" class="form-control" />
                        <span asp-validation-for="ProductName" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="ProductPrice" class="form-label">Product Price</label>
                        <input asp-for="ProductPrice" class="form-control" />
                        <span asp-validation-for="ProductPrice" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="ProductCode" class="form-label">Product Code</label>
                        <input asp-for="ProductCode" class="form-control" />
                        <span asp-validation-for="ProductCode" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Description" class="form-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="UserID" class="form-label">User Name</label>
                        <select class="form-control" asp-for="UserID" asp-items="@(new SelectList(ViewBag.UserList, "UserID", "UserName"))">
                            <option value="">Select User</option>
                        </select>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-secondary">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

</main>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
