@model CofeeShop.Models.StateModel


<main id="main" class="main">
    <div class="pagetitle">
        <h1>State Form</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item"><a asp-controller="State" asp-action="StateList">States</a></li>
                <li class="breadcrumb-item active">State Form</li>
            </ol>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4 class="text-success">@TempData["StateInsertMessage"]</h4>
                        <form class="form-horizontal"
                              method="post"
                              asp-action="Save">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <input asp-for="StateID" hidden />

                            <div class="form-group">
                                <label for="CountryID" class="col-md-3 control-label"><span class="text-danger">*</span>Country Name</label>
                                <div class="col-md-9">
                                    <select id="CountryID"
                                            name="CountryID"
                                            class="form-control"
                                            asp-for="CountryID">
                                        <option value="">Select Country</option>
                                        @foreach (var country in ViewBag.CountryList)
                                        {
                                            <option value="@country.CountryID">
                                                @country.CountryName
                                            </option>
                                        }
                                    </select>
                                    <span asp-validation-for="CountryID" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="StateName" class="col-md-3 control-label"><span class="text-danger">*</span>State Name</label>
                                <div class="col-md-9">
                                    <input type="text"
                                           id="StateName"
                                           name="StateName"
                                           class="form-control"
                                           asp-for="StateName"
                                           placeholder="Enter State Name" />
                                    <span asp-validation-for="StateName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="StateCode" class="col-md-3 control-label"><span class="text-danger">*</span>State Code</label>
                                <div class="col-md-9">
                                    <input type="text"
                                           id="StateCode"
                                           name="StateCode"
                                           class="form-control"
                                           asp-for="StateCode"
                                           placeholder="Enter State Code" />
                                    <span asp-validation-for="StateCode" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn btn-success">Save</button>
                                    <a class="btn btn-default"
                                       asp-controller="State"
                                       asp-action="StateList">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>